

<div id="site">
	<header id="cabecalho" class="grupo">
		<a href="index.html" id="logo">
		</a>
		
	</header>
	<div id="foto-principal"></div>
	<div id="conteudo" class="grupo">
		<section id="conteudo-principal">
			<h1>Bem-vindo a Marvin Distribuidora</h1>
			
			<p>
        Procurando por BEBIDAS NÃO ALCOÓLICAS e BEBIDAS ALCOÓLICAS? Se sua resposta foi sim,
         então você está no lugar certo! A CotaBest é a plataforma de compras que vai te colocar em contato 
         com  fornecedores de bebidas que atendam a sua região.
			</p>
			
			<p>
        Quem pesquisa gasta menos! E é por isso que a Marvin Distribuidora é o seu lugar de confiança para encontrar 
        as melhores distribuidoras de bebidas com preços baixos.
        Nossa plataforma realiza a busca de bebida no atacado priorizando os resultados de acordo com o 
        menor preço de bebida. Além disso, levamos em consideração também a área de entrega da 
        distribuidora de bebidas e disponibilidade em estoque, tudo isso para que sua cotação de bebidas no
         atacado seja feita de maneira precisa e ágil.
			</p>
		</section>
		<aside id="conteudo-secundario">
			<div class="interna">
				<h1>Sobre a Distribuidora </h1>

				<p>
          A Marvin Distribuidora, desde 2020 no mercado de venda e distribuição de bebidas, 
          possui as melhores marcas de bebidas nacionais e importadas.
          Tradição, confiança e excelência no atendimento, 
          são estes os conceitos que definem a HS BEBIDAS e estão presentes em cada um de nossos serviços.
          <br><br><br><br><br><br><br><br><br>
				</p>
			</div>
		</aside>
	</div>
	<div id="rodape-fora">
		<footer id="rodape" class="grupo">
			<p id="telefone-email">
				contato@exemplo.com.br
				<br>
				<span class="ddd">62</span> 99999-9999
			</p>

			<p id="endereco">
				Rua do Endereço, 123, Bairro
				<br>
				CEP 74000-000
				<br>
				Goiania - GO
			</p>

			<small id="copyright">
				&copy; Marvin Distribuidora. Todos os Direitos Reservados.
			</small>
		</footer>
	</div>
</div>
